/.idea

/assets/node_modules
/assets/package-lock.json
/assets/yarn.lock

/dist

/docker/.env
/docker/log
/docker/mariadb/data

.env.local

error_log*
*.jpg
*.jpeg
*.png
*.lock
*.xls
*.doc
*.log
.htaccess
.DS_Store
chmod
test.php
phing.xml
ht.access
Extras/
.idea/
.phpdoc/
/modx/core/cache/
/modx/core/scheduler/ControllersLinks
/modx/core/scheduler/lock/
/modx/core/scheduler/logs/
/modx/core/packages
/modx/assets/images/
/modx/node_modules/
/modx/vendor/

/modx/assets/YandexDisk/*
/modx/assets/manager/video/*

/modx/assets/cache/
