.catalog {
    padding-top: 110px;
}

.catalog_container {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 120px;
}

.catalog_container .btn {
    height: 40px;
    line-height: 38px;
    padding: 0;
    width: 328px;
    font-size: 18px;
    max-width: 100%;
    margin-top: 40px;
}

.catalog_headline {
    padding-left: 120px;
    background: url("../images/arte_black.png") no-repeat left 8px;
    background-size: 100px auto;
}

.catalog_headline_title {
    font-size: 30px;
    line-height: 36px;
    padding: 11px 0;
    font-family: 'fm';
    border-bottom: 1px solid #999999;
    margin-bottom: 20px;
}

.catalog_headline_content {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 40px;
}

.catalog_headline_content p {
    font-size: 18px;
    line-height: 24px;
}

.catalog_img img {
    width: 100%;
}

.catalog_img.catalog_img_double {
    width: auto;
    display: flex;
    margin-left: -18px;
    margin-right: -18px;
}

.catalog_img.catalog_img_double .catalog_img_wrap {
    min-width: 50%;
    max-width: 50%;
    padding: 0 18px;
}

.catalog_slider {
    position: relative;
    height: 820px;
    background: #EEEEEE;
    margin-bottom: 125px;
}

.catalog_slider_container .catalog_slider_container_linked {
    width: auto;
    position: absolute;
    top: 0;
    height: 820px;
    left: 50%;
    margin-left: -130px;
    right: 0;
}

.catalog_slider_container .catalog_slider_container_linked .btn_download {
    height: 40px;
    line-height: 38px;
    padding: 0 70px;
    font-size: 18px;
    font-family: 'fm';
    display: none;
}

.catalog_slider_container .catalog_slider_container_linked .swiper-button-next {
    width: 40px;
    right: 255px;
    bottom: 50px;
    top: initial;
    margin-top: 0;
    height: 40px;
    border-radius: 50%;
    background: #ffffff url("../images/arrow_right.svg") no-repeat center center;
}

.catalog_slider_container .catalog_slider_container_linked .swiper-button-next:hover {
    background: #000000 url("../images/arrow_rightw.svg") no-repeat center center;
}

.catalog_slider_container .catalog_slider_container_linked .swiper-button-next:after {
    display: none;
}

.catalog_slider_container .catalog_slider_container_linked .swiper-button-prev {
    width: 40px;
    right: 325px;
    bottom: 50px;
    top: initial;
    left: initial;
    margin-top: 0;
    height: 40px;
    border-radius: 50%;
    transform: rotate(180deg);
    background: #ffffff url("../images/arrow_right.svg") no-repeat center center;
}

.catalog_slider_container .catalog_slider_container_linked .swiper-button-prev:hover {
    background: #000000 url("../images/arrow_rightw.svg") no-repeat center center;
}

.catalog_slider_container .catalog_slider_container_linked .swiper-button-prev:after {
    display: none;
}

.catalog_slider_container .catalog_slider_container_linked .cat_sl_img {
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.catalog_slider_container .catalog_slider_container_linked .cat_sl_img img {
    height: 820px;
}

.catalog_slider_container .catalog_slider_container_linked .cat_sl_img .cat_name {
    position: absolute;
    left: 0;
    top: 54px;
    z-index: 1;
    padding: 25px 47px;
    color: #ffffff;
    background: #000000;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'fm';
}

.catalog_slider_container .catalog_slider_container_dots {
    position: absolute;
    left: 50%;
    margin-left: -600px;
    width: 470px;
    padding-top: 50px;
}

.catalog_slider_container .catalog_slider_container_dots .swiper-container-free-mode > .swiper-wrapper {
    transform: translate3d(0px, 0px, 0px) !important;
    padding-right: 140px !important;
    box-sizing: border-box;
}

.catalog_slider_container .catalog_slider_container_dots_title {
    font-size: 30px;
    line-height: 36px;
    padding: 11px 0;
    display: inline-block;
    font-family: 'fm';
    border-bottom: 1px solid #000000;
    margin-bottom: 20px;
}

.catalog_slider_container .catalog_slider_container_dots_value {
    font-size: 30px;
    line-height: 30px;
    font-family: 'fm';
    margin-bottom: 40px;
}

.catalog_slider_container .catalog_slider_container_dots .swiper-slide {
    margin-bottom: 10px !important;
    height: auto !important;
    padding: 14px 30px;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 20px;
    cursor: pointer;
}

.catalog_slider_container .catalog_slider_container_dots .swiper-slide.swiper-slide-thumb-active {
    border: 1px solid #000000;
}

.catalog_slider_container .catalog_slider_container_dots .swiper-container {
    margin-bottom: 112px;
}

.catalog_slider_container .catalog_slider_container_dots .btn {
    height: 40px;
    line-height: 38px;
    padding: 0 70px;
    font-size: 18px;
    font-family: 'fm';
}

@media (max-width: 1200px) {
    .catalog_container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .catalog_slider_container {
        display: flex;
        flex-direction: column;
    }

    .catalog_slider_container .catalog_slider_container_dots,
    .catalog_slider_container .catalog_slider_container_linked {
        position: static;
        margin-left: 0;
        height: auto;
    }

    .catalog_slider_container .catalog_slider_container_dots .swiper-slide.swiper-slide-thumb-active {
        height: auto !important;
        padding: 13px 20px;
    }

    .catalog_slider_container .catalog_slider_container_linked .swiper-button-next {
        right: 50px;
    }

    .catalog_slider_container .catalog_slider_container_linked .swiper-button-prev {
        right: 120px;
    }

    .catalog_slider_container .catalog_slider_container_dots .swiper-container-free-mode > .swiper-wrapper {
        height: 60px;
        position: relative;
        width: 100%;
    }

    .catalog_slider_container .catalog_slider_container_dots .swiper-slide {
        height: 0 !important;
        overflow: hidden;
        padding: 0;
        margin-bottom: 0 !important;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
    }

    .catalog_slider {
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
    }

    .catalog_slider_container .catalog_slider_container_dots .swiper-container {
        margin-bottom: 0px;
    }

    .catalog_slider_container_dots {
        margin-bottom: 10px;
    }

    .catalog_slider_container .catalog_slider_container_linked .cat_sl_img img {
        height: auto;
        width: 100%;
    }

    .catalog_slider_container .catalog_slider_container_dots .btn {
        display: none;
    }

    .catalog_slider_container .catalog_slider_container_linked .btn_download {
        display: inline-block;
        margin-top: 33px;
        margin-bottom: 26px;
    }
}

@media (max-width: 992px) {
    .catalog_slider_container .catalog_slider_container_linked .cat_sl_img .cat_name {
        font-size: 20px;
        padding: 20px 40px;
    }
}

@media (max-width: 768px) {
    .catalog_img.catalog_img_double {
        flex-wrap: wrap;
    }

    .catalog_img.catalog_img_double .catalog_img_wrap {
        max-width: 100%;
        min-width: 100%;
        margin-bottom: 40px;
    }

    .catalog {
        padding-top: 17px;
        padding-bottom: 75px;
    }

    .catalog_headline {
        padding-left: 0;
        padding-top: 55px;
        background-size: 50px auto;
    }

    .catalog_headline_title {
        font-size: 20px;
        line-height: 23px;
        padding: 11px 0 7px;
        font-family: 'fm';
        border-bottom: 1px solid #999999;
        margin-bottom: 12px;
    }

    .catalog_headline_content {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 30px;
    }

    .catalog_container {
        padding-bottom: 40px;
    }

    .catalog_slider_container .catalog_slider_container_dots {
        padding-top: 10px;
    }

    .catalog_slider_container .catalog_slider_container_dots_title {
        font-size: 20px;
        line-height: 28px;
        padding: 11px 0 4px;
        display: block;
        margin-bottom: 13px;
    }

    .catalog_slider_container .catalog_slider_container_dots {
        max-width: 100%;
    }

    .catalog_slider_container .catalog_slider_container_dots_value {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .catalog_slider_container .catalog_slider_container_dots .swiper-slide.swiper-slide-thumb-active {
        font-size: 15px;
        padding: 9px 20px;
    }

    .catalog_slider_container .catalog_slider_container_dots .swiper-container-free-mode > .swiper-wrapper {
        height: 55px;
    }

    .catalog_slider_container .catalog_slider_container_linked .cat_sl_img .cat_name {
        display: none;
    }

    .gallery-top2 {
        position: relative;
        padding-bottom: 60px;
    }

    .catalog_slider_container .catalog_slider_container_linked .swiper-button-next {
        bottom: 2px;
        right: 50%;
        margin-right: -65px;
    }

    .catalog_slider_container .catalog_slider_container_linked .swiper-button-prev {
        bottom: 2px;
        right: 50%;
        margin-right: 15px;
    }

    .catalog_slider_container .catalog_slider_container_linked .btn_download {
        width: 500px;
        max-width: 100%;
        padding: 0;
        text-align: center;
        font-size: 12px;
    }

    .catalog_slider {
        margin-bottom: 15px;
    }

    .catalog_container .btn {
        font-size: 12px;
        margin-top: 0px;
    }
}