.antibot_btn {
    color: #fff;
    text-decoration: none;
    user-select: none;
    background: rgb(212, 75, 56);
    padding: .7em 1.5em;
    outline: none;
    border: 0;
    cursor: pointer;
}

.antibot_btn:hover {
    background: rgb(232, 95, 76);
}

.antibot_btn:active {
    background: rgb(152, 15, 0);
}